.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input[type=number] {
  width: 300px;
}

input[type=text] {
  width: 500px;
}